.navbar {
    position: fixed;
    background: rgb(255,137,39);
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 50px;
    color: white;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-left: 10px;
}

a.active {
    opacity: .6;
}