<h1>{{ name }}</h1>
<h1>{{ getName() }}</h1>
<h1>{{ 2 + 2 }}</h1>

<input [id]="myId" value="Estag">
<input id="myId" value="Estag">
<input id="{{myId}}" value="Estag">

<div>
  <h1 [class]="className">Positive</h1>
  <h1 [class.positive]="number > 0">Positive conditional</h1>
  <h1 [ngClass]="{ 'positive': number > 0, 'negative': number < 0 }">{{ number }}</h1>
</div>

<div>
  <h1 [style.color]="number > 0 ? 'green' : 'red'">Positive conditional</h1>
  <h1 [ngStyle]="{ 'color': number > 0 ? 'green' : 'red' }">{{ number }}</h1>
</div>
  
<button (click)="inverter()">Inverter</button>

<div>
  <input type="text" [(ngModel)]="name">
</div>

<div *ngIf="name == 'teste'; else elseBlock">
  SUCESSO
</div>

<ng-template #elseBlock>
  FALHA
</ng-template>

<div [ngSwitch]="name">
  <div *ngSwitchCase="'a'">A text</div>
  <div *ngSwitchCase="'b'">B text</div>
  <div *ngSwitchCase="'c'">C text</div>
  <div *ngSwitchDefault>Default</div>
</div>

<br><br>

<div *ngFor="let color of colors; index as i; first as f; last as l; odd as o; even as e">
  <div [style.color]="color">{{ i }}-{{ color }}</div>
</div>

<br><br>

<h1>{{ parentData }}</h1>
<button (click)="fireEvent()">Emit to parent</button>

<br><br>

<h1>{{ name | lowercase }}</h1>
<h1>{{ name | uppercase}}</h1>
<h1>{{ 15.6781 | number:'1.1-2' }}</h1>
<h1>{{ 15.6781 | number:'2.8' }}</h1>
<h1>{{ 15.67810 | number:'2.4-5' }}</h1>
<h1>{{ 15.67812 | number:'2.4-5' }}</h1>
<h1>{{ 0.25 | percent }}</h1>
<h1>{{ 0.25 | currency }}</h1>
<h1>{{ 0.25 | currency: 'BRL' }}</h1>
<h1>{{ date }}</h1>
<h1>{{ date | date: 'short' }}</h1>
<h1>{{ date | date: 'shortDate' }}</h1>
<h1>{{ date | date: 'shortTime' }}</h1>
<h1>{{ date | date: 'dd/MM/yyyy' }}</h1>